#sign_in{
    background-color: #5B84D7;
    width: 50%;
    border-radius: 0px 0px 5px 0px;
    color: white;
}

#register{
    background-color: #AA80FF;
    width: 50%;
    border-radius: 0px 0px 0px 5px;
    color: white;
}