#HomePage_card_image{
    font-size: 15px;
    max-width: 100%;
    border: solid 1px;
    height:100%;
    object-fit: fill;
}

#HomePage_card_description{
    width: 55%;
    border-right: solid 1px;
    border-bottom: solid 1px;
}

#HomePage_card_title{
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: solid 1px;
    border-top: solid 1px;
    max-height: 50%;
}

#HomePage_card_text{
    padding: 1px;
    margin-bottom: 0px;
    line-height: 1;
}

#HomePage_card_genres{
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: solid 1px;
}

#HomePage_card_studio{
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: auto;
}

#key_staff{
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: solid 1px;
}

#HomePage_cards{
    height: 25%;
}

#tag_links{
    color: black;
}

#tag_links:hover{
    color: #5B84D7;
}