/* show img*/
.homepage-card-img{
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow:hidden;
    height: 100%;
    float: left;
    width: 50%;
    display: inline-block;
}

.homepage-card-img img{
    width:100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.info{
    background: rgba(27, 26, 26, 0.75);
    transition: all 0.3s ease-out;
    transform: translateX(150%);
    position: absolute;
    line-height: 1;
    text-align: left;
    cursor: no-drop;
    color: white;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 80%;
    padding: 5px 8px 5px 8px;
}

.info p{
    text-align: left;
}

.homepage-card-img:hover .info{
    transform: translateX(0);
}

.info p{
    transition: 0.3s ease;
}

.homepage-card-img:hover img{
    transition: all 0.3s ease-out;
}

.homepage-card-img:hover img{
    transform: scale(1.2, 1.2);
}


#homepage-card-description{
    width: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#homepage-card-title{
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    max-height: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

#homepage-card-text{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 0px;
    line-height: 1;
}

#homepage-card-genres{
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

#homepage-card-studio{
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: auto;
}

.homepage-cards-outer{
    height: 25%;
    padding: 0px;
}

#tag-links{
    color: black;
}

#tag-links:hover{
    color: #5B84D7;
}