.anime {
    height: 200px;
    width: 250px;
    border: 2px solid black;
    display: inside;
    flex-direction: column;
  }

.anime-search {
    text-align: center;
  }

h2{
  /*text-decoration: underline; */
  border-bottom: solid 5px;
}

span{
  font-size: 25px;
  border-bottom: solid 5px;
}

#feed_body .col{
  padding: 0px 0px 0px 0px;
}

#feed_col{
  max-width: 22%;
}

#spacing{
  max-width: 4%;
}