.anime {
    height: 200px;
    width: 250px;
    border: 2px solid black;
    display: inside;
    flex-direction: column;
  }

.anime-search {
    text-align: center;
  }

h2{
  /*text-decoration: underline; */
  border-bottom: solid 5px;
}

#subtitle{
    width:100%;
    margin: auto;
}

#grey{
    margin-bottom: 1px;
    border-bottom: solid 3px;
    color: #D8D8D8;
}

span{
  font-size: 25px;
  border-bottom: solid 3px;
}

#feed_body .col{
  padding: 0px 0px 0px 0px;
}

#feed_col{
  max-width: 22%;
  border: solid 1px;
}

#spacing{
  max-width: 4%;
}

.container{
  background-color: white;
}

#pink{
  color: #FF66CC;
}

#purple{
  color: #AA80FF;
}