<!DOCTYPE html>
<html lang="en">

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="107577167980-4voh0ckavrhmb8g5c8m7sv3rokaua4s2.apps.googleusercontent.com">
<link rel="stylesheet" href="login.css">
<head>
    <link rel="icon" href="images/BookFavicon.png"/>
    <title>Browse - Maven</title>
    <meta charset="utf-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1, user-scalable=yes"/>
</head>
<body>
    <!-- <?php include 'register.php';?> -->
    <header></header>
    <div class="box">
        <form>
            <span class="text-center">login</span>
        <div class="input-container">
            <input type="text" required=""/>
            <label>Username</label>		
        </div>
        <div class="input-container">		
            <input type="password" required=""/>
            <label>Password</label>
        </div>
        <a href="#" id="signup">Don't have an account? Sign up!</a>
        <br>
        <button type="button" class="btn">submit</button>
    </form>	
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</body>
</html>