.anime {
    height: 200px;
    width: 250px;
    border: 2px solid black;
    display: inside;
    flex-direction: column;
  }

.anime-search {
    text-align: center;
  }

h2{
  /*text-decoration: underline; */
  border-bottom: solid 5px;
}

#subtitle{
    width:100%;
    margin: auto;

}

#grey{
    border-bottom: solid 3px;
    color: #D8D8D8;
}

span{
  font-size: 25px;
}

#recommended{
  font-size: 25px;
}

.airing_link{
  color: #AA80FF;
}

.airing_link:hover{
  color: #8145f7;
}

#feed_body .col{
  padding: 0px 0px 0px 0px;
}

#feed_col{
  max-width: 22%;
}

#spacing{
  max-width: 4%;
}

.container{
  background-color: white;
}

#pink{
  color: #FF66CC;
  border-bottom: solid 3px; 
}

#purple{
  color: #AA80FF;
  border-bottom: solid 3px;
}

#main_content{
  height: auto;
  color: black;
  padding: 20px 0px 0px 0px;
  margin: auto;
  border-bottom: solid 1px;
}
