.anime {
    height: 200px;
    width: 250px;
    border: 2px solid black;
    display: inside;
    flex-direction: column;
  }

.anime-search {
    text-align: center;
  }

h2{
  /*text-decoration: underline; */
  border-bottom: solid 5px;
}

#subtitle{
    width:100%;
    margin: auto;

}

#grey{
    border-bottom: solid 3px;
    color: #D8D8D8;
}

span{
  font-size: 25px;
}

#recommended{
  font-size: 25px;
}

.trending_airing_link{
  color: #AA80FF;
}

.trending_airing_link:hover{
  background-size: 4px 50px;
  color: white;
}

#feed_body .col{
  padding: 0px 0px 0px 0px;
}

#feed_col{
  max-width: 23.875%;
  height: 900px;
}

#spacing{
  max-width: 1.5%;
}

.container{
  background-color: white;
}

#pink{
  color: #FF66CC;
  border-bottom: solid 3px; 
}

#purple{
  color: #AA80FF;
  background: 
    linear-gradient(
      to bottom,#AA80FF 0%,
      #AA80FF 100% 
    );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  transition: background-size .2s;
}

.purple:hover{
  background-size: 4px 50px;
  color: white;
}

#main_content{
  height: 100%;
  color: black;
  padding: 20px 0px 0px 0px;
  margin: auto;
  border-bottom: solid 1px;
}
